<label for="email">Email Address</label>
<input id="email" name="email" type="text" required />

<label for="childName">Child's Name</label>
<input id="childName" name="childName" type="text" required />
<%children.forEach(function(child){%>
  <option value="<%=child.id%>">
    <%=child.name%>
  </option>
<% });%>
    <!--
  when selected, auto fill the email address
-->

<label for="dateTime">Date</label>
<input id="dateTime" name="dateTime" type="datetime-local" required />

<label for="staffName">Staff Name</label>
<select id="staffName" name="staffName" required>
  <%staff.forEach(function(s){%>
    <option value="<%=s.id%>">
      <%=s.name%>
    </option>
  <% });%>
</select>

<label for="location">Where did the accident/incident occur?</label>
<select id="location" name="location" required></select>
<%locations.forEach(function(loc){%>
  <option value="<%=loc.id%>">
    <%=loc.name%>
  </option>
<% });%>
    <!-- 
<option value="Kinder Room">Kinder Room</option>
<option value="Lounge">Lounge</option>
<option value="Playground">Playground</option>
<option value="Gym">Gym</option>
<option value="Computer Lab">Computer Lab</option>
<option value="Stage">Stage</option>
<option value="Other">Other</option> -->
</select>

<label for="numChildrenPresent">How many children were present at the time of the accident/incident?</label>
<select id="numChildrenPresent" name="numChildrenPresent" required>
  <option value="0-10">0-10</option>
  <option value="10-20">10-20</option>
  <option value="20-30">20-30</option>
  <option value="30+">30+</option>
</select>

<label for="numAdultsPresent">How many adults were present at the time of the accident/incident?</label>
<select id="numAdultsPresent" name="numAdultsPresent" required>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6+">6+</option>
</select>