<%- include('partials/header.ejs') %>

  <body>
    <script src="/js/birs.js"></script>
    <%- include('partials/nav.ejs') %>

      <main class="justify-content-center align-items-center">
        <h1>Injury Report</H1>
        <form id="birs-form" method="POST">
          <h2>Student Info</h2>

          <%- include('partials/birsCommonInfo.ejs') %>

            <label for="bodyPart">Part of body injured</label>
            <select id="bodyPart" name="bodyPart" required>
              <%bodyPart.forEach(function(part){%>
                <option value="<%=part.id%>"><%=part.description%></option>
              <% });%>
            </select>
            </br>
            
            <label for="woundDescription">Wound Description (type,size)</label>
            <textarea id="woundDescription" name="woundDescription" rows="5" cols="50" required></textarea>
            </br>
            
            <label for="howInjuryOccurred">How did the injury occur?</label>
            <textarea id="howInjuryOccurred" name="howInjuryOccurred" rows="5" cols="50" required></textarea>
            </br>
            
            <label for="howInjuryTreated">How was the injury/situation treated?</label>
            <textarea id="howInjuryTreated" name="howInjuryTreated" rows="5" cols="50" required></textarea>
            </br>
            <%- include('partials/birsSignatures.ejs') %>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Submit</button>
        </form>
      </main>

      <input type='hidden' id='birsId' value='<%=birsId%>' />

      <%- include('partials/footer.ejs') %>

  </body>

  </html>