<%- include('partials/header.ejs') %>

  <body>
    <script src="/js/reports.js"></script>
    <%- include('partials/nav.ejs') %>

    <!-- <main class="d-flex justify-content-center align-items-center"> -->
    <main>
      <h1 class="text-center">Behavior / Injury Reports</h1>
      <div>
          <select id="students" name="students">
              <option value="allStudents">All Students</option>
              <%students.forEach(function(student){%>
              <option value="<%=student.studentID%>"><%=student.first + " " + student.last%></option>
              <% });%>
          </select>
          <input type="date" id="startDate"/>
          <input type="date" id="endDate"/>
          <button id='showReports' class="btn btn-lg btn-primary btn-block">Show Reports</button>
      </div>
      </br>

      <h2>Injury Reports</h2>
      <div id="injuryReports">
        <table id="injuryReportTable">
            <tr id="injuryHeader">
              <th>Child's Name</th>
              <th>Staff's Name</th>              
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>            
              <th>Part Injured</th>
              <th>How</th>                
              <th>Edit</th>
            </tr>            
            
        </table>
      </div>
      </br>
      
      <h2>Behavior Reports</h2>
      <div id="behaviorReports">
       <table id="behaviorReportTable">
            <tr id="behaviorHeader">
              <th>Child's Name</th>
              <th>Staff's Name</th>              
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>              
              <th>At-risk Behavior</th>
              <th>Behavior</th>
              <th>Triggers</th>
              <th>Supports That Worked</th>              
              <th>Edit</th>
            </tr>
        </table>
      </div>
      </br>
<!--       
      <h2>Parent/Guardian Review</h2>
      <table>
        <th>Manager Signature</th>
        <th>Parent Signature</th>
        <th>Parent Feedback</th>
      </table> -->
      </br>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>

  </html>
