<%- include('partials/header.ejs') %>

  <body>
    <script src="/js/students.js"></script>
    <%- include('partials/nav.ejs') %>
    

    <main class="justify-content-center align-items-center">
    <h1  class="h3 mb-3 font-weight-normal text-center">Login</h1>
    <h2>Create Sudent</h2>
    
    <form id="student-add" method="POST">
        
        <input type="hidden" id="action" name="action" value="add" />

        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" required />
    
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" required />

        <label for="contact">Contact Name</label>
        <input id="contact" name="contact" type="contact" required />
        
        <label for="email">email</label>
        <input id="email" name="email" type="email" required />
    
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Submit</button>
    </form>

    <div id="update">
        <h2>Update Student</h2>
        <form id="student-update" method="POST">
            
            <input type="hidden" id="action" name="action" value="update" />

            <label for="firstName">First Name</label>
            <input id="update_firstName" name="firstName" type="text" required />
        
            <label for="lastName">Last Name</label>
            <input id="update_lastName" name="lastName" type="text" required />
    
            <label for="contact">Contact Name</label>
            <input id="update_contact" name="contact" type="contact" required />
            
            <label for="email">email</label>
            <input id="update_email" name="email" type="email" required />

            <input type="hidden" id="update_studentID" name="studentID" value=""/>
            
            <button class="btn btn-lg btn-primary btn-block" type="button" id="cancel">Cancel</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Submit</button>
        </form>
    </div>

    <form id="student-list" method="POST"> 
    <input type="hidden" id="action" name="action" value="modify" />
    <table>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
        </tr>
        <%children.forEach(function(child){%>
            <tr>
            <td class='studentID'><%=child.studentID%></td>
            <td class='first'><%=child.first%></td>
            <td class='last'><%=child.last%></td>
            <td class='contact'><%=child.contactname%></td>
            <td class='email'><%=child.email%></td>
            <td><button name='delete' value='<%=child.studentID%>' class="btn btn-lg btn-primary btn-block" type="submit">Delete</button></td>
            <td><button value ='<%=child.studentID%>' class="edit btn btn-lg btn-primary btn-block" type="button">Edit</button></td>
            </tr>
        <% });%>
    </table>
    </form>
    </br>
    
    </main>

    <%- include('partials/footer.ejs') %>
  </body>

  </html>
